.navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin: 0;
  padding: 100px, auto;
  list-style: none;

  a {
    padding: 10px;

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      color: #7511f6;
    }
  }
}
